/* HEADER */

body{
	font-family: 'Fredoka', sans-serif;
}
.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	background-color: #255ee9;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav.container > div > img{
	display: flex;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
}

ul{
    list-style: none;
}
.header-links > ul > li {
    display: inline-block;
    text-align: center;
}
.header-links > ul > li> a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
.header-links{
    flex-grow: 1;
    display: flex;
    justify-content: center;
	align-items: center;
}

.header-login{
	display: flex;
	justify-content: flex-end;
}

.header-login > button {
	background-color: white;
	color: black;
	border-radius: 20px;
	padding: 5px 15px;
	border-style: solid;
	border-color: white;
}

/* JUMBOTRON */

.jumbotron {
	padding: 150px 0;
	display: flex;
	justify-content: center;
	background-image: url(../img/jumbo.png);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron .content {
	min-height: 400px;
	width: 40%;
	color: white;
}

.content > h1{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 100px;
}
.content > p{
	font-size: 22px;
	text-align: center;
}

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;
	min-height: 500px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: lightgray;
}

.main-col {
	flex-grow: 2;
	flex-basis: 0;
}

.side-col {
	flex-grow: 1;
	flex-basis: 0;
	text-align: left;
}
.side-col > h1{
	font-weight: bold;
	font-size: 50px;
	margin: 0 40px;
	padding: 20px 0;
}
.side-col > p{
	font-size: 20px;
	margin: 0 40px;
}

.hilighted-content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center
}
.hilighted-content > h1{
	font-weight: bold;
	font-size: 50px;
	padding: 20px 0;
	text-align: center;
}
.hilighted-content > p{
	font-size: 20px;
	margin: 0 40px;
	text-align: center;
}
.hilighted-content > div{
	font-weight: bold;
	text-align: center;
	font-size: 35px;
}
.hilighted-content > button{
	color: white;
	background-color: #8ea2e1;
	padding: 10px 30px;
	border-radius: 20px;
	border-style: solid;
	border-color: #8ea2e1;
	margin-top: 20px;
}
/* FOOTER */

.footer-main {
	padding-top: 10px;
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);
}
.footer-main-col > h1{
	color: #7188d6;
	font-weight: bold;
	font-size: 40px;
	margin: 20px 40px 20px 40px;
}
.lang > img {
	height: 20px;
}
.lang{
	color: white;
	margin: 0 40px;
}
.socials{
	margin: 30px 40px;
	color: white;
}
.socials > i{
	padding-right: 20px;
}

.footer-product{
	padding: 0 40px;
}
.footer-product > ul > li{
	padding-bottom: 25px;
}
.footer-product > ul > li > a{
	color: white;
	text-decoration: none;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);
}
.footer-col > h1{
	margin: 20px  0 20px 40px;
	color: #7188d6;
	font-weight: bold;
}

.footer-col {
	margin-top: 15px;
	width: 25%;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	background-color: #7fffd4;
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	background-color: #ffb6c1;
	border: 2px dashed black;
}